			+--------------------+
			|        CS 140      |
			| PROJECT 2: THREADS |
			|   DESIGN DOCUMENT  |
			+--------------------+
				   
---- GROUP ----

Noah Beaty nabeaty42@tntech.edu
Jack Tolleson jmtolleson42@tntech.edu
Julian Trijillo jtrujillo42@tntech.edu
Eliejah Walker elwalker43@tntech.edu

---- PRELIMINARIES ----

>> If you have any preliminary comments on your submission, notes for the
>> TAs, or extra credit, please give them here.

>> Please cite any offline or online sources you consulted while
>> preparing your submission, other than the Pintos documentation, course
>> text, lecture notes, and course staff.

			     ALARM CLOCK
			     ===========

---- DATA STRUCTURES ----

>> A1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.

from thread.h:
- int64_t wakeup_tick: stores system tick count for thread wakeup time
- struct list_elem sleep_elem: links thread into global sleeping thread list

from timer.c:
- static struct list sleeping_list: global list that stores all sleeping threads (the list is ordered by wakeup time)

---- ALGORITHMS ----

>> A2: Briefly describe what happens in a call to timer_sleep(),
>> including the effects of the timer interrupt handler.

- When timer_sleep() is called, the current thread records its wakeup tick, then it is inserted into an ordered sleeping list and blocked. Each timer interrupt increments the global tick count and unblocks threads whose wakeup time has arrived, allowing them to resume execution without busy-waiting.

>> A3: What steps are taken to minimize the amount of time spent in
>> the timer interrupt handler?

- It increments the global tick count and checks the front of the ordered sleeping list for threads whose wakeup time has arrived. Because the list is sorted by wakeup tick, only the earliest sleepers are examined. This minimizes iteration and keeps interrupt handling time as short as possible.

---- SYNCHRONIZATION ----

>> A4: How are race conditions avoided when multiple threads call
>> timer_sleep() simultaneously?

- Race conditions are avoided by disabling interrupts whenever the shared sleeping_list is accessed or modified. In timer_sleep(), interrupts are turned off before inserting the thread and blocking (interrupts restored afterward). Since the timer interrupt handler also runs with interrupts disabled, both functions can safely access the list without interference. This prevents modifications made at the same time.

>> A5: How are race conditions avoided when a timer interrupt occurs
>> during a call to timer_sleep()?

- Race conditions are avoided by disabling interrupts (using intr_disable() ), before modifying the shared sleeping_list inside timer_sleep(). This prevents the timer interrupt handler from accessing or changing the list at the same time. Since the interrupt handler also runs with interrupts disabled by default, both functions are protected from access to shared data at the same time.

---- RATIONALE ----

>> A6: Why did you choose this design?  In what ways is it superior to
>> another design you considered?

- I used the sleeping threads/sleep list design because it allows the CPU to perform other work instead of repeatedly checking wakeup times. Compared to the busy-waiting design, the sleep list design drastically reduces wasted CPU cycles. It's also simpler than using semaphores, which would require extra sync logic.

			 PRIORITY SCHEDULING
			 ===================

---- DATA STRUCTURES ----

>> B1: Copy here the declaration of each new or changed `struct' or
>> `struct' member, global or static variable, `typedef', or
>> enumeration.  Identify the purpose of each in 25 words or less.
I added the comparator functions sema_priority_cmp for semaphores, and higher_priority for threads, to support ordered insertion by priority in the semaphore waiters list and the thread ready list.

>> B2: Explain the data structure used to track priority donation.
>> Use ASCII art to diagram a nested donation.  (Alternately, submit a
>> .png file.)

---- ALGORITHMS ----

>> B3: How do you ensure that the highest priority thread waiting for
>> a lock, semaphore, or condition variable wakes up first?
I ensure that the highest priority thread waiting for a lock or semaphore wakes up first by inserting waiters using list_insert_ordered with either sema_priority_cmp for semaphores or higher_priority for threads, so the highest priority is always at the front.

>> B4: Describe the sequence of events when a call to lock_acquire()
>> causes a priority donation.  How is nested donation handled?
when a thread tries to grab a lock that someone else has, the thread donates it priority so they can finish faster. If they are also waiting on another threads lock, the priority get passed down the chain so all processes speed up

>> B5: Describe the sequence of events when lock_release() is called
>> on a lock that a higher-priority thread is waiting for.
- the thread removes the lock from its held list and recalculates it priority based on donations remaining, and then wake up high priority waiting who can preempt it if it has higher prio
---- SYNCHRONIZATION ----

>> B6: Describe a potential race in thread_set_priority() and explain
>> how your implementation avoids it.  Can you use a lock to avoid
>> this race?
My implementation of thread_set_priority disables interrupts before updating the current thread’s priority and checking the ready list, which prevents races during the process. Using a lock could also work, but interrupt disabling is fine at the kernel level.
---- RATIONALE ----

>> B7: Why did you choose this design?  In what ways is it superior to
>> another design you considered?
I chose this design for priority scheduling because list ordering using comparator functions is simple and uses existing data structures, making strict priority scheduling trivial without adding complex code.
I also tried to do a lock instead of disabling interrupts for thread_set_priority() but was having difficulty getting it to work so I instead tried interrupts instead because it made it simpler and should not take off points because I only used it for scheduling and used locks otherwise.

I picked this design because it's simple and efficient. By just tracking which lock each thread is waiting on and what locks it holds, we can follow donation chains recursively without complicated data structures. 
I thought about keeping lists of who's donating to whom, but that would be way more overhead and harder to debug. Our approach only stores what's needed and recalculates priorities when locks are released, which keeps things clean.


			   SURVEY QUESTIONS
			   ================

Answering these questions is optional, but it will help us improve the
course in future quarters.  Feel free to tell us anything you
want--these questions are just to spur your thoughts.  You may also
choose to respond anonymously in the course evaluations at the end of
the quarter.

>> In your opinion, was this assignment, or any one of the three problems
>> in it, too easy or too hard?  Did it take too long or too little time?

>> Did you find that working on a particular part of the assignment gave
>> you greater insight into some aspect of OS design?

>> Is there some particular fact or hint we should give students in
>> future quarters to help them solve the problems?  Conversely, did you
>> find any of our guidance to be misleading?

>> Do you have any suggestions for the TAs to more effectively assist
>> students, either for future quarters or the remaining projects?

>> Any other comments?
